<component name="ArtifactManager">
  <artifact type="exploded-war" name="springBootDemo3:war exploded">
    <output-path>$PROJECT_DIR$/springBootDemo3/target/spring-boot-starter-parent-2.3.1.RELEASE</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>springBootDemo3</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springBootDemo3" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springBootDemo3/target/spring-boot-starter-parent-2.3.1.RELEASE/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springBootDemo3/web/Web" />
    </root>
  </artifact>
</component>